import init.cm-star.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on fs
# mount partitions
    mount_all /fstab.p990

on post-fs
## LGE
    mkdir /data/nv
    chown system system /data/nv
    chmod 0711 /data/nv
## LGE

on boot

### LGE GPS
# gps permissions
    chown system system /sys/devices/platform/gps_gpio/poweron
    chown system system /sys/devices/platform/gps_gpio/reset
    chown system system /dev/ttyHS3
    mkdir /data/gps
    chmod 777 /data/gps
    mkdir /data/gps/var
    chmod 777 /data/gps/var
    mkdir /data/gps/var/run
    chmod 777 /data/gps/var/run
    mkdir /data/gps/log
    chmod 777 /data/gps/log
    mkdir /data/cache
    chmod 777 /data/cache
    chown system system /system/bin/glgps
    chown system system /system/etc/gps_brcm_conf.xml
    chown system system /system/etc/cert/
    chown system system /system/etc/cert/537a0176.0
    chown system system /system/etc/cert/c9dbfc2e.0
    chown system system /system/etc/cert/ddc328ff.0
    chown system system /system/etc/cert/7651b327.0
    chown system system /system/etc/cert/583a21ed.0
    chown system system /system/etc/cert/72fa7371.0
    chown system system /system/etc/cert/c33a80d4.0

on property:dev.bootcomplete=1
    start setcpversion

service glgps /system/bin/glgps -c /system/etc/gps_brcm_conf.xml
    class core
    user system
    group net_raw sdcard_rw system

service setcpversion /system/bin/lgcpversion
    class main
    oneshot
