on early-init
    start ueventd

on init

sysclktz 0

loglevel 3

# setup the global environment
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_CACHE /cache
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export DOWNLOAD_CACHE /cache/download
    export EXTERNAL_STORAGE /mnt/sdcard
    export ASEC_MOUNTPOINT /mnt/asec
    export LOOP_MOUNTPOINT /mnt/obb
    export SD_EXT_DIRECTORY /sd-ext
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/core-junit.jar
    export TMPDIR /data/local/tmp
    export PHONE_STORAGE /mnt/emmc

# Backward compatibility
    symlink /system/etc /etc
    symlink /system/bin /bin
    symlink /sys/kernel/debug /d

# Right now vendor lives on the same filesystem as system,
# but someday that may change.
    symlink /system/vendor /vendor

# create mountpoints
    mkdir /mnt 0775 root system
    mkdir /mnt/sdcard 0000 system system

# create mountpoints for internal "SD"
    mkdir /mnt/emmc 0000 system system

# Create cgroup mount point for cpu accounting
    mkdir /acct
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

# Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard

    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0771 system cache
    mkdir /config 0500 root root

    # Directory for putting things only root should see.
    mkdir /mnt/secure 0700 root root

    # Directory for staging bindmounts
    mkdir /mnt/secure/staging 0700 root root

    # Directory-target for where the secure container
    # imagefile directory will be bind-mounted
    mkdir /mnt/secure/asec  0700 root root

#20100722, taein.kim@lge.com, Add external security folder [START]
    mkdir /mnt/extsecure 0700 root root
    mkdir /mnt/extsecure/staging 0700 root root
    mkdir /mnt/extsecure/extasec  0700 root root
#20100722, taein.kim@lge.com, Add external security folder [END]
    # Secure container public mount points.
    mkdir /mnt/asec  0700 root system
    mount tmpfs tmpfs /mnt/asec mode=0755,gid=1000
#20100722, taein.kim@lge.com, Add external security folder [START]
    mkdir /mnt/extasec  0700 root system
    mount tmpfs tmpfs /mnt/extasec mode=0755,gid=1000 noatime
#20100722, taein.kim@lge.com, Add external security folder [END]


    # Filesystem image public mount points.
    mkdir /mnt/obb 0700 root system
    mount tmpfs tmpfs /mnt/obb mode=0755,gid=1000

    mkdir /sd-ext 0771 system system

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0

## ANDY_PORTING LGDRM [lg-drm@lge.com 100401]
    mkdir /lgdrm 0770 system audio
## ANDY_END

### Disable cgroups for now, they're killing interactivity on the 2X
# Create cgroup mount points for process groups
#    mkdir /dev/cpuctl
#    mount cgroup none /dev/cpuctl cpu
#    chown system system /dev/cpuctl
#    chown system system /dev/cpuctl/tasks
#    chmod 0777 /dev/cpuctl/tasks
#    write /dev/cpuctl/cpu.shares 1024
#
#    mkdir /dev/cpuctl/fg_boost
#    chown system system /dev/cpuctl/fg_boost/tasks
#    chmod 0777 /dev/cpuctl/fg_boost/tasks
#    write /dev/cpuctl/fg_boost/cpu.shares 1024
#
#    mkdir /dev/cpuctl/bg_non_interactive
#    chown system system /dev/cpuctl/bg_non_interactive/tasks
#    chmod 0777 /dev/cpuctl/bg_non_interactive/tasks
#    # 5.0 %
#    write /dev/cpuctl/bg_non_interactive/cpu.shares 52

on fs
# mount partitions
    mount ext3 /dev/block/mmcblk0p1 /system wait
    mount ext3 /dev/block/mmcblk0p1 /system ro noatime remount wait
    # We chown/chmod /data again so because mount is run as root + defaults
    mount ext3 /dev/block/mmcblk0p8 /data nosuid nodev noatime data=ordered wait
    chown system system /data
    chmod 0771 /data
    mount ext3 /dev/block/mmcblk0p2 /cache nosuid nodev noatime wait
    chown system cache /cache
    chmod 0770 /cache

    mount ext3 /dev/block/mmcblk0p6 /lgdrm nosuid nodev noatime

on post-fs
    # once everything is setup, no need to modify /
    mount rootfs rootfs / ro remount

    # We chown/chmod /data again so because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data

    # Mount compressed filesystems
    mount squashfs loop@/system/lib/modules/modules.sqf /system/lib/modules ro
    mount squashfs loop@/system/xbin/xbin.sqf /system/xbin ro

    # Create dump dir and collect dumps.
    # Do this before we mount cache so eventually we can use cache for
    # storing dumps on platforms which do not have a dedicated dump partition.
   
    mkdir /data/dontpanic
    chown root log /data/dontpanic
    chmod 0750 /data/dontpanic

    # Collect apanic data, free resources and re-arm trigger
    copy /proc/apanic_console /data/dontpanic/apanic_console
    chown root log /data/dontpanic/apanic_console
    chmod 0640 /data/dontpanic/apanic_console

    copy /proc/apanic_threads /data/dontpanic/apanic_threads
    chown root log /data/dontpanic/apanic_threads
    chmod 0640 /data/dontpanic/apanic_threads

    write /proc/apanic_console 1

    # Same reason as /data above
    chown system cache /cache
    chmod 0771 /cache

    # This may have been created by the recovery system with odd permissions
    chown system cache /cache/recovery
    chmod 0770 /cache/recovery

    #change permissions on vmallocinfo so we can grab it from bugreports
    chown root log /proc/vmallocinfo
    chmod 0440 /proc/vmallocinfo

## LGE
    mkdir /data/nv     
    chown system system /data/nv       
    chmod 0711 /data/nv
## LGE 

    #change permissions on kmsg & sysrq-trigger so bugreports can grab kthread stacks
    chown root system /proc/kmsg
    chmod 0440 /proc/kmsg
    chown root system /proc/sysrq-trigger
    chmod 0220 /proc/sysrq-trigger

# create basic filesystem structure
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    mkdir /data/misc/bluetooth 0770 system system
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/vpn 0770 system system
    mkdir /data/misc/systemkeys 0700 system system
    mkdir /data/misc/vpn/profiles 0770 system system
    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0777 wifi wifi
    chmod 0777 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chmod 0777 /data/misc/wifi/config_mac       # 20101202 mingi.sung@lge.com [WLAN] AT command - MAC address read/write function
    mkdir /data/local 0771 shell shell
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/local/download 0771 system cache
    mkdir /data/data 0771 system system
    mkdir /data/app-private 0771 system system
    mkdir /data/app 0771 system system
    mkdir /data/property 0700 root root

    mkdir /data/audioprop 0777 system system

# 20100716 mingi.sung@lge.com <make wifi directory> [START]
# WIFI
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    setprop wifi.supplicant_scan_interval 20
    setprop wifi.interface wlan0
# DHCP
    mkdir /data/misc/dhcp 0777 system system
# 20100716 mingi.sung@lge.com <make wifi directory> [END]

    mkdir /cache/download 0771 system cache

    # create dalvik-cache and double-check the perms
    mkdir /data/dalvik-cache 0771 system system
    chown system system /data/dalvik-cache
    chmod 0771 /data/dalvik-cache

    mkdir /cache/dalvik-cache 0771 system system
    chown system system /cache/dalvik-cache
    chmod 0771 /cache/dalvik-cache

    # create the lost+found directories, so as to enforce our permissions
    mkdir /data/lost+found 0770
    mkdir /cache/lost+found 0770

    # double check the perms, in case lost+found already exists, and set owner
    chown root root /data/lost+found
    chmod 0770 /data/lost+found
    chown root root /cache/lost+found
    chmod 0770 /cache/lost+found

    # allow net_raw to have access to /dev/socket directory
    chown root net_raw /dev/socket
    chmod 0775 /dev/socket

    # allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    ## ANDY_PORTING LGDRM [lg-drm@lge.com 100401]
    # create dirs if not exist
    mkdir /data/lgdrm 0770 root root
    mkdir /data/wmdrm 0770 root root

on boot
# basic network init
    ifup lo
    hostname localhost
    domainname localdomain

# set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 13 40 40

# Define the oom_adj values for the classes of processes that can be
# killed by the kernel.  These are used in ActivityManagerService.
    setprop ro.FOREGROUND_APP_ADJ 0
    setprop ro.VISIBLE_APP_ADJ 1
    setprop ro.PERCEPTIBLE_APP_ADJ 2
    setprop ro.HEAVY_WEIGHT_APP_ADJ 3
    setprop ro.SECONDARY_SERVER_ADJ 4
    setprop ro.BACKUP_APP_ADJ 5
    setprop ro.HOME_APP_ADJ 6
    setprop ro.HIDDEN_APP_MIN_ADJ 7
    setprop ro.EMPTY_APP_ADJ 15

# Define the memory thresholds at which the above process classes will
# be killed.  These numbers are in pages (4k).
    setprop ro.FOREGROUND_APP_MEM 1536
    setprop ro.VISIBLE_APP_MEM 2048
    setprop ro.PERCEPTIBLE_APP_MEM 4096
    setprop ro.HEAVY_WEIGHT_APP_MEM 4096
    setprop ro.SECONDARY_SERVER_MEM 5120
    setprop ro.BACKUP_APP_MEM 5120
    setprop ro.HOME_APP_MEM 5120
    setprop ro.HIDDEN_APP_MEM 5632
    setprop ro.EMPTY_APP_MEM 6144

# Write value must be consistent with the above properties.
# Note that the driver only supports 6 slots, so we have combined some of
# the classes into the same memory level; the associated processes of higher
# classes will still be killed first.
    write /sys/module/lowmemorykiller/parameters/adj 0,1,2,4,7,15

    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/min_free_order_shift 4
    write /sys/module/lowmemorykiller/parameters/minfree 1536,2048,4096,5120,5632,6144
    #6M,8M,12M,60M,70M,100M
    #write /sys/module/lowmemorykiller/parameters/minfree 1536,2048,3072,15360,17920,25600
    #original
    #write /sys/module/lowmemorykiller/parameters/minfree 2048,3072,4096,6144,7168,8192

    # Set init its forked children's oom_adj.
    write /proc/1/oom_adj -16

    # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_background_ratio  5

    # Permissions for System Server and daemons.
    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
    chown radio system /sys/power/state
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max
    chown root radio /proc/cmdline

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi    4095,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680

# Define sensor settings
    chown system system /sys/devices/platform/tegra_gyro_accel/tilt_onoff
    chown system system /sys/devices/platform/tegra_gyro_accel/tap_onoff
    chown system system /sys/devices/platform/tegra_gyro_accel/shake_onoff
    chown system system /sys/devices/platform/tegra_gyro_accel/snap_onoff
    chown system system /sys/devices/platform/tegra_gyro_accel/flip_onoff
    chown system system /sys/devices/platform/tegra_gyro_accel/tilt_delay
    chown system system /sys/devices/platform/star_aat2870.0/lsensor_onoff
    chown system system /sys/devices/platform/star_aat2870.0/alc

# 20101107, sglee76@lge.com, FOTA [START]
        mkdir /data/fota 0777 system system
        chown system system /data/fota
        chmod 0777 /data/fota

        chmod 777 /dev/block/mmcblk0p3
# kernel read permission
        chmod 644 /dev/block/mmcblk0p5
# 20101107, sglee76@lge.com, FOTA [END]

## LGE's bluetooth stuff
# bluetooth permissions
    chmod 0660 /dev/ttyHS2
    chown bluetooth bluetooth /dev/ttyHS2
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill1/type

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/type
#       20101121 BT: dohyung10.lee@lge.com - For the BD Address Read / Write
    chmod 0666 /sys/devices/platform/star_bd_address/bdaddr_if
    write /sys/class/rfkill/rfkill0/state 0
### End of LGE bluetooth

### LGE GPS
# gps permissions
    chown system system /sys/devices/platform/tegra_gps_gpio/poweron
    chown system system /sys/devices/platform/tegra_gps_gpio/reset
    chown system system /dev/ttyHS3
    mkdir /data/gps
    chmod 777 /data/gps
    mkdir /data/gps/var
    chmod 777 /data/gps/var
    mkdir /data/gps/var/run
    chmod 777 /data/gps/var/run
    mkdir /data/gps/log
    chmod 777 /data/gps/log
    mkdir /data/cache
    chmod 777 /data/cache
    chown system system /system/bin/glgps
    chown system system /system/etc/gps_brcm_conf.xml
    chown system system /system/etc/cert/
    chown system system /system/etc/cert/537a0176.0
    chown system system /system/etc/cert/c9dbfc2e.0
    chown system system /system/etc/cert/ddc328ff.0
    chown system system /system/etc/cert/7651b327.0
    chown system system /system/etc/cert/583a21ed.0
    chown system system /system/etc/cert/72fa7371.0
    chown system system /system/etc/cert/c33a80d4.0

### End of LGE GPS
# Include extra init file
    import /system/etc/init.local.rc

    mount ext3 /dev/block/mmcblk0p1 /system
    mount ext3 /dev/block/mmcblk0p1 /system ro noatime remount
# Run sysinit
    exec /system/bin/sysinit

    class_start default

## Daemon processes to be run by init.
##
service ueventd /sbin/ueventd
    critical

service console /system/bin/sh
    console
    disabled
    user shell
    group log

on property:ro.secure=0
    start console

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

service servicemanager /system/bin/servicemanager
    user system
    critical
    onrestart restart zygote
    onrestart restart media

service vold /system/bin/vold
    socket vold stream 0660 root mount
    ioprio be 2

service netd /system/bin/netd
    socket netd stream 0660 root system

service debuggerd /system/bin/debuggerd

service ril-daemon /system/bin/rild
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw net_admin net_raw

service zygote /system/bin/app_process -Xzygote /system/bin --zygote --start-system-server
    socket zygote stream 666
    onrestart write /sys/android_power/request_state wake
    onrestart write /sys/power/state on
    onrestart restart media
    onrestart restart netd
    #onrestart restart ril-daemon

service media /system/bin/mediaserver
    user media
    group system audio camera graphics inet net_bt net_bt_admin net_raw
    ioprio rt 4

service bootanim /system/bin/bootanimation
    user graphics
    group graphics
    disabled
    oneshot

service dbus /system/bin/dbus-daemon --system --nofork
    socket dbus stream 660 bluetooth bluetooth
    user bluetooth
    group bluetooth net_bt_admin

## Replaced with LG's btld
service bluetoothd /system/bin/bluetoothd -n
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service installd /system/bin/installd
    socket installd stream 600 system system

service racoon /system/bin/racoon
    socket racoon stream 600 system system
    # racoon will setuid to vpn after getting necessary resources.
    group net_admin
    disabled
    oneshot

service mtpd /system/bin/mtpd
    socket mtpd stream 600 system system
    user vpn
    group vpn net_admin net_raw
    disabled
    oneshot

service keystore /system/bin/keystore /data/misc/keystore
    user keystore
    group keystore
    socket keystore stream 666

service dumpstate /system/bin/dumpstate -s
    socket dumpstate stream 0660 shell log
    disabled
    oneshot

### 2X stuff


service lgdrm /system/bin/lgdrmserver
    user root
    group sdcard_rw radio

service dhcpcd_wlan0 /system/bin/dhcpcd -BKA wlan0  # LGE_AUTO_IP - enable IPv4LL (DLNA, 2010.10.19)
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_wlan0

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf #-dd
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet
    disabled
    oneshot

service secureclockd /system/bin/secureclockd
    oneshot
    user system
    group system

service hdmid /system/bin/hdmid
    user system
    group system
    disabled

## disable immersion vibrator, we want the standard API
#service immvibed /system/bin/immvibed
#    user shell
#    group shell
#    oneshot

service nvrm_daemon /system/bin/nvrm_daemon
    user root
    #onrestart restart servicemanager

# Daemon for Gyro Sensor
service motion /system/bin/motion
    user system
    group system
    oneshot
    disabled

on property:dev.bootcomplete=1
    start hdmid
    start motion

service rawip_vsnet1 /system/bin/init.vsnet 1
   user root
   group radio cache inet misc net_admin net_raw
   disabled
   oneshot

service rawip_vsnet2 /system/bin/init.vsnet 2
   user root
   group radio cache inet misc net_admin net_raw
   disabled
   oneshot

service rawip_vsnet3 /system/bin/init.vsnet 3
   user root
   group radio cache inet misc net_admin net_raw
   disabled
   oneshot

service rawip_vsnet4 /system/bin/init.vsnet 4
   user root
   group radio cache inet misc net_admin net_raw
   disabled
   oneshot

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /etc/firmware/BCM4329B1_002.002.023.0735.0745.hcd /dev/ttyHS2
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service glgps /system/bin/glgps -c /system/etc/gps_brcm_conf.xml
    user system
    group net_raw sdcard_rw system

