## Permissions taken from original init.rc
/dev/nvrm		0666	root	root
/dev/knvrm		0660	root	system
/dev/nvrpc		0666	root	root
/dev/nvmap		0666	root	root
/dev/nvos		0666	root	root
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-dsi		0666	root	root
/dev/nvhost-isp		0666	root	root
/dev/nvhost-mpe		0666	root	root
/dev/nvhost-vi		0666	root	root
/dev/ttyspi0		0660	radio	radio
/dev/ttyspi1		0660	radio	radio
/dev/pts*		0660	radio	radio
/dev/ttyS0		0660	radio	radio
/dev/ami304		0777	system	system
/dev/ami304hal		0777	system	system
/dev/ami304daemon	0777	system	system
/dev/drm		0600	system	system
/dev/motion_daemon	0666	system	system
/dev/accel_daemon	0666	system	system
/dev/tegra_user_gpio	0666	system	system
